<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.creation.android.lafetegita">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_lafetegita"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_lafetegita"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EventCategories"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".OnlineEvents" />
        <activity android:name=".Hackathon" />
        <activity android:name=".Prizes" />
        <activity
            android:name=".AboutUS"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".DetailsUI_Hack" />
        <activity android:name=".GLoginActivity" />
        <activity android:name=".UserProfileActivity" />
        <activity android:name=".MyEventsActivity" />
        <activity android:name=".Details3D_Hack" />
        <activity android:name=".DetailsEssayOnline" />
        <activity android:name=".DetailsInviteOnline" />
        <activity android:name=".Literary" />
        <activity android:name=".DigitalArts" />
        <activity android:name=".Arts" />
        <activity android:name=".Cultural"></activity>
    </application>

</manifest>